<!DOCTYPE html>
<html>
<title>Web Page Design</title>

<body>
<style>
body {background-color:#080808;
background-image: url(https://media.istockphoto.com/photos/dark-wood-texture-background-picture-id874036010?k=6&m=874036010&s=612x612&w=0&h=0fINVtIugEyhxqluq3UmM1e1I5b1-et4K4JEbJxfWFc=);
}
.xyz {
  
  background-color: wheat;
  margin-left : 20%;
  margin-right : 20%;
  font-size : 120%;
  padding : 80px;
  padding-left: 100px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  border-radius: 50px;
  border: solid 1px rgb(221, 21, 21);
}
.submit{
  text-align: center;
}
</style>

<h1 style="text-align:center; padding-bottom: 10px; color: slategray;">Employee Turnover Prediction</h1>
<div class="xyz">
<form action="/prediction" method="POST">

<h3 style="text-align:center; padding-bottom: 15px;">Enter User Details</h3>

<label for="satisfaction_level"><b>Satisfaction Level : </b></label>
<input type="number" step="0.01" min="0" name="satisfaction_level" value="{{Satisfaction_Level}}" required><br><br>       

<label for="last_evaluation"><b>Last Evaluation : </b></label>
<input type="number" step="0.01" min="0" name="last_evaluation" value="{{last_evaluation}}" required><br><br>

<label for="number_project"><b>Number Of Project : </b></label>
<input type="number" min="0" name="number_project" value="{{number_project}}" required><br><br>

<label for="average_montly_hours"><b>Average Monthly Hours : </b></label>
<input type="number" min="0" name="average_montly_hours" value="{{average_montly_hours}}" required><br><br>

<label for="time_spend_company"><b>Time Spend In Company(In years): </b></label>
<input type="number" min="0" name="time_spend_company" value="{{time_spend_company}}" required><br><br>

<label for="work_accident"><b>Work Accident : </b></label>
<input type="number" name="work_accident" value="{{work_accident}}" min="0" max="1" required> (Enter <strong>0</strong> if not happened , <strong>1</strong> if happened)<br><br>

<label for="promotion_last_5years"><b>Promotion in Last Five Years : </b></label>
<input type="number" min="0" max="1" name="promotion_last_5years" value="{{promotion_last_5years}}"required><br><br>

<label for="department"><b>Department : </b></label>
    <select name="department" required>
        <option disabled selected value> -- select an option -- </option>
        <option value="sales" {% if Dep == "sales" %} selected {%endif%}> Sales </option>
        <option value="accounting" {% if Dep == "accounting" %} selected {%endif%}> Accounting </option>
        <option value="hr" {% if Dep == "hr" %} selected {%endif%}> HR </option>
        <option value="technical" {% if Dep == "technical" %} selected {%endif%}> Technical </option>
        <option value="support" {% if Dep == "support" %} selected {%endif%}> Support </option>
        <option value="management" {% if Dep == "management" %} selected {%endif%}> Management </option>
        <option value="it" {% if Dep == "it" %} selected {%endif%}> IT </option>
        <option value="product_mng" {% if Dep == "product_mng" %} selected {%endif%}> Product Management </option>
        <option value="marketing" {% if Dep == "marketing" %} selected {%endif%}> Marketing </option>
        <option value="randD" {% if Dep == "randD" %} selected {%endif%}> RandD </option>

    </select>
    <br><br>

<label for="salary"><b>Salary : </b></label>
<input type="number" name="salary" value="{{salary}}" required>  (Enter <strong>0</strong> for low salary , <strong>1</strong> for medium salary , <strong>2</strong> for high salary) <br><br>


<div class="submit">
    <input style="border-radius:5px; block-size: 50px;" type="submit" value="PREDICT">
    <br><br>
    <strong><h2 style="color: chocolate;">Prediction : {{ prediction_text }}</h2></strong>
</div>

</form>
</div>
</body>
</html>



